@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap");
html,
body {
  color: white;

  text-align: center;

}
html h1,
body h1 {
  margin-top: 50px;
  margin-bottom: 0;
  text-shadow: 5px 5px rgba(255, 255, 255, 0.5);
}
html h2,
body h2 {
  margin: 0;
  opacity: 0.4;
}

.line, .carousel li img, .carousel li, .carousel {
  width: 100%;
}

.flex, .carousel-wrapper, .center, .carousel ul {
  display: flex;
}

.center, .carousel ul {
  align-items: center;
  justify-content: center;
}
.center {
  flex-direction: column;
}
.carousel-wrapper {
  position: relative;
  max-width: 600px;
  margin: 50px;
}
.carousel-wrapper input {
  display: none;
}

.carousel {
  overflow: hidden;
  border-radius: 15px;
}
.carousel ul {
  position: relative;
  list-style: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 500%;
  transition: left 0.8s cubic-bezier(0.77, 0, 0.175, 1);
}
.carousel li img {
  border-radius: 15px;
}

.nav-dot {
  position: absolute;
  cursor: pointer;
  margin-left: -200px;
  bottom: -22.5px;
  width: 15px;
  height: 15px;
  opacity: 0.5;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  transition: 0.4s;
}
.nav-dot:hover {
  opacity: 0.8;
  transform: scale(1.2);
}
.nav-dot:active {
  transform: scale(0.9);
}

.nav-dot[for=slide1] {
  left: 40%;
}

#slide1:checked ~ .carousel ul {
  left: 0%;
}
#slide1:checked ~ .nav-dot[for=slide1] {
  opacity: 1;
}

.nav-dot[for=slide2] {
  left: 45%;
}

#slide2:checked ~ .carousel ul {
  left: -100%;
}
#slide2:checked ~ .nav-dot[for=slide2] {
  opacity: 1;
}

.nav-dot[for=slide3] {
  left: 50%;
}

#slide3:checked ~ .carousel ul {
  left: -200%;
}
#slide3:checked ~ .nav-dot[for=slide3] {
  opacity: 1;
}

.nav-dot[for=slide4] {
  left: 55%;
}

#slide4:checked ~ .carousel ul {
  left: -300%;
}
#slide4:checked ~ .nav-dot[for=slide4] {
  opacity: 1;
}




.right-arrow, .left-arrow {
  display: none;
  position: absolute;
  cursor: pointer;
  font-weight: bolder;
  color: #000000;
  text-shadow: 0px 0px 4px rgb(255, 255, 255);
  top: 50%;
  z-index: 1;
  opacity: 1;
  margin-top: -25px;
  height: 50px;
  font-size: 50px;
  transition: 0.2s;
}
.right-arrow:hover, .left-arrow:hover {
  opacity: 1;
  transform: scale(1.2);
}
.right-arrow:active, .left-arrow:active {
  transform: scale(0.9);
}

.left-arrow {
  left: 15px;
}

.right-arrow {
  right: 15px;
}

#slide1:checked ~ .left-arrow[for=slide4], #slide1:checked ~ .right-arrow[for=slide2] {
  display: block;
}

#slide2:checked ~ .left-arrow[for=slide1], #slide2:checked ~ .right-arrow[for=slide3] {
  display: block;
}

#slide3:checked ~ .left-arrow[for=slide2], #slide3:checked ~ .right-arrow[for=slide4] {
  display: block;
}

#slide4:checked ~ .left-arrow[for=slide3], #slide4:checked ~ .right-arrow[for=slide1] {
  display: block;
}

#slide5:checked ~ .left-arrow[for=slide4], #slide5:checked ~ .right-arrow[for=slide1] {
  display: block;
}


.signature .name {
  color: white;
}
.signature .dot {
  margin: 0 5px;
}
.signature a {
  color: white;
  text-decoration: underline;
}




.swiper-container {
  width: 600px;
  height: 200px; /* Hauteur du carrousel */
  margin: auto; /* Centre le conteneur horizontalement */
  margin-top: 20%;
  display: flex; /* Facilite le centrage interne si nécessaire */
  justify-content: center; /* Centre les slides */
  align-items: center; /* Centre les slides verticalement */

  
  
}

.swiper-slide {
  position: relative;
  background-size: cover;
  background-position: center;
  width: calc(4% - 25px); /* Pour afficher 3 images avec un espacement */
  margin-right: 25px; /* Espacement entre les images */
  border-radius: 20px; /* Coins arrondis */
  box-shadow: 0 15px 20px rgb(255, 254, 254); /* Ombre douce */
  overflow: hidden; /* Empêche le contenu de déborder des coins arrondis */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Animation fluide */
  background-color: #0c0c0c;

}


/* Effet au survol */
.swiper-slide:hover {
  transform: scale(1.05); /* Légère mise en avant */
  box-shadow: 0px 20px 30px rgb(255, 254, 254); 
}



.swiper-container-wrapper {
  width: 1000px; /* Ajuste selon la taille souhaitée */
  height: 500px;
  overflow: hidden; /* Masque tout ce qui dépasse ce conteneur */
  margin: 0 auto; /* Centre horizontalement le conteneur */
}
.swiper-button-next, 
.swiper-button-prev {
    color: #ffffff; /* Change la couleur en fonction de tes besoins */

}
