body {
    width: 100%; /* Prend toute la hauteur */
    top: 0;
    left: 0;

    /* Grille */
    --gap: 5em;
    --line: 2px;
    --color: rgba(255, 255, 255, 0.2);

    background-image: 
    linear-gradient(
        -90deg,
        transparent calc(var(--gap) - var(--line)),
        var(--color) calc(var(--gap) - var(--line) + 1px),
        var(--color) var(--gap)
    ),
    linear-gradient(
        0deg,
        transparent calc(var(--gap) - var(--line)),
        var(--color) calc(var(--gap) - var(--line) + 1px),
        var(--color) var(--gap)
    );

    background-size: var(--gap) var(--gap);
    background-position: center;

    /* Dégradé inversé */
    z-index: 0; /* En arrière-plan */
}
.ligneport {
    height: 2px;
    width: 330px;
    margin-left: -10px;
    margin-top: -22px;
    background-color: #ffffff;
}
.ligneportph {
    height: 1px;
    width: 330px;
    margin-left: -10px;
    margin-top: -5px;
    background-color: #ffffff;
}
.miniascratch {
    margin-left: -15px;
    margin-top: -25px;
    width: 330px;

}
.miniaBlogArt{
    margin-left: -15px;
    margin-top: -10px;
    width: 330px;

}

.miniapack {
    margin-left: -15px;
    margin-top: -10px;
    width: 250px;

}
.miniamotion {
    margin-left: -15px;
    margin-top: -25px;
    width: 330px;
}
.miniamusba {
    margin-left: -15px;
    margin-top: -9px;
    width: 330px;

}

.videoscratch {
    width: 100%;
    max-width: 400px; /* Ajustez selon votre mise en page */
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease, opacity 0.3s ease;
    display: block;
}

.video-container {
    position: relative;
    display: inline-block;
}

.video-container:hover .videoscratch {
    transform: scale(1.05);
}

.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
    background: url('image/play-button.webp') no-repeat center center;
    background-size: contain;
    pointer-events: none; /* Permet à la souris de "traverser" l'élément */
}

.video-container:hover .play-button {
    opacity: 1;
}

.card1 {
    margin-bottom: 150px;
    width: 300px;
    height: 168.75px;
    padding: 0.5rem;
    border-radius: 8px;
    backdrop-filter: blur(5px);
    box-shadow: -40px 50px 30px rgba(255, 255, 255, 0.28);
    transform: skewX(5deg);
    transition: .4s;
    overflow: hidden;
    color: white;
    box-shadow: 0 15px 20px rgb(255, 255, 255); /* Ombre douce */
    text-decoration: none; 
    
    
}
p {
    font-family: "Roboto", sans-serif;
    line-height: 1.5; /* Augmente l'espace entre les lignes */
    word-spacing: 1px; /* Augmente l'espace entre les mots */
      
}

.card1:hover {
    margin-bottom: 43.5px;
    height: 275px;
    transform: skew(0deg);
}
.card1 h1 {
  margin: 1.3rem;
  color: rgb(218, 244, 237);
  text-shadow: -10px 5px 10px rgba(0, 0, 0, 0.573);
}
.aligmentcard {
    margin: 10%;
    display: flex;
    justify-content: space-evenly;
    
    flex-wrap: wrap;
    gap: 20px;
    width: 80%;
}
.refproject {
    position: relative;
    display: flex;
    justify-content: end;
    font-family: "Roboto", sans-serif;
}
.titlecard {
    font-size: 17px
}
@media (max-width: 1024px) {
    .card1 {
        transform: skewX(0deg);
        height: 275px;
        margin-top :40px;
        margin-bottom :40px;
    }
    .titlecard {
        font-size: 90%;
        margin-top: 10px;
    }
    .card1:hover {
        margin-bottom: 43.5px;
        height: 275px;
        transform: none;
    }
    .aligmentcard {

        display: flex;
        justify-content: center;
        margin: 0px;
        width: 100%;
        

    }
} 