.photoproj {
    width: 200px;
    height: 150px;
}
.photoproj2 {
    width: 200px;
    height: auto;
    object-fit: cover;
}
.photoproj3 {
    width: 250px;
    height: auto;
}
.photoproj2.s {
    margin-top: -35px;
}
.toutelesphotoproj3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    width: 510px;

}
.toutelesphotoproj {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    width: 420px;

}
.toutelesphotoproj2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    width: 420px;


}
.bouttonproj4{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 30px;
}
.photoproj2bas {
    height: 200px;
    width: auto;
}
.photoproj4bas {
    height: 300px;
    width: auto;
}
.phototexteproj {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 2%;
    margin: 2%;
    align-items: center;
    margin-top: 6%;

}
.partitextproj {

    width: 40%;
    text-align: left;
    font-size: 17px;

}
.phototexteprojbas {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 2%;
    margin: 2%;
    align-items: center;
    margin-top: 6%;
    margin-bottom: 6%;

}
.partitextprojbas {
    width: 40%;
    text-align: left;
    font-size: 17px;
    

}
.videoscratch{
    width: 450px;
}
@media (max-width: 764px) {
    .phototexteproj {
        width: 100%;
        flex-direction: column;
    }
    .phototexteprojbas {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column-reverse;
        gap: 2%;
        margin: 2%;
        align-items: center;
        margin-top: 80px;
        margin-bottom: 80px
    
    }
    .photoproj {
        width: 100%;
        height: 100%;
    }
    .photoproj2 {
        width: 100%;
        height: auto;
        object-fit: cover;
    }
    .photoproj2.s {
        margin-top: -40px;
    }
    .photoproj3 {
        width: 100%;
        height: auto;
    }
    .toutelesphotoproj3 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        width: 100%;
    
    }
    .toutelesphotoproj {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        width: 100%;
    
    }
    .toutelesphotoproj2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        width: 420px;
    
    
    }
    .videoscratch{
        width: 100%;
    }
    .partitextproj {
        width: 90%;
        text-align: left;
        font-size: 17px;
        margin-top: 20px;
    
    }
    .partitextprojbas {
        width: 90%;
        text-align: left;
        font-size: 17px;
        margin-top: 20px;
    
    }
    .photoproj2bas {
        height: auto;
        width: 90%;
    }
}